.idea
.venv
*.pyc
venv

/static
media
config/settings_dev.py
config/settings_prod.py

.DS_Store
.vscode/settings.json
.vscode/launch.json
.vscode/tags

pytest.ini
data
files/uploads
uploads

.env
.envrc
vandelay-py.js
files
